
$main-font-size: 14px;

$upcoming-races-screenshot-height: 160px;

$title-bar-border-radius: 50px;

$color-red:#f2331a;
$color-yellow: #ffe946;

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $main-font-size;
}

.upper-title {
    margin-top: 10px;
    text-align: right;
    .primary-letter {
        margin-left: -4px;
        padding: 4px 8px;
        border-radius: 50%;
        color: $color-red;
        background-color: #000;
    }

    .letter {
        margin-left: -4px;
        padding: 4px 8px;
        border-radius: 50%;
        color: #000;
        background-color: $color-yellow;
    }
}

.first-play-section {
    .title-bar {
        background-color: $color-yellow;
        border-radius: $title-bar-border-radius;
        padding: 5px 15px;
        margin: 15px 0;
        font-weight: bold;

        .accented {
            color: $color-red;
        }
    }

    .screenshot {
        width: 100%;
        height: auto;
        
    }

    .game-title {
        font-weight: bolder;
        font-size: 20px;
        margin: 10px 0;

        .platforms {
            font-weight: normal;
            font-size: $main-font-size;
            color: $color-red;
        }
    }

    .copy-content {
        .content-slot {
            
            border: 1px dotted grey;
            border-top-style: none;
            border-bottom-style: none;
            border-left-style: none;
            border-right-style: dotted;
        }

        .content-slot:last-of-type {
            border-right-style: none;
        }
    }
}

.upcoming-races-section {

    .title-bar {
        color: #fff;
        background-color: $color-red;
        border-radius: $title-bar-border-radius;
        padding: 5px 15px;
        margin: 15px 0;
        font-weight: bold;

        .accented {
            color: $color-yellow;
        }
    }

    .game-title {
        font-weight: bolder;
        font-size: 16px;
        margin-top: 10px;
    }

    .platforms {
        color: $color-red;
    }

    .upcoming-race-slot {
        border: 1px dotted grey;
        border-top-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-right-style: dotted;

        .screenshot {
            width: 100%;
            height: auto;
        }

        &:last-of-type {
            border-right-style: none;
        }
    }
}
